/* 
----------------------------------------------------
AQUÍ ESTÁ EL CSS DE LA DISPOSICIÓN DE LOS ELEMENTOS
----------------------------------------------------
*/

body {
    background-color: #1e1e1e;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.contenedor_calendario {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-auto-rows: 180px;
    grid-auto-flow: dense;
    gap: 15px;
    max-width: 1000px;
    width: 100%;
}

.tarjeta {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    perspective: 1000px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.contenido {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.puerta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #2ea4a9;
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
    transform-origin: left;
    transition: transform 0.6s ease-in-out;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.tarjeta:hover .puerta {
    transform: rotateY(-125deg);
}

.tarjeta:nth-child(odd) .puerta {
    background-color: #2ea4a9;
}

.tarjeta:nth-child(even) .puerta {
    background-color: #238589;
}

.tarjeta:nth-child(3n) .puerta {
    background-color: #86cace;
}

.span_2_columnas {
    grid-column: span 2;
}

.span_2_filas {
    grid-row: span 2;
}

svg {
    width: 100%;
    height: 100%;
    max-height: 85%;
    pointer-events: none;
}

.interactivo svg {
    pointer-events: auto;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
----------------------------------------------
A PARTIR DE AQUÍ ESTAN LOS ESTILOS DE LOS SVG
----------------------------------------------
*/

/* Galleta de jengibre */
.head {
    fill: #cd803d;
}

.eye {
    fill: #ffffff;
}

.mouth {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2px;
}

.limb {
    stroke: #cd803d;
    stroke-width: 35px;
    stroke-linecap: round;
}
/* Casa */
.house {
    stroke: #000000;
    stroke-width: 2px;
    fill: #ffffff;
}

.house .roof {
    fill: none;
    stroke: #d1495b;
    stroke-width: 10px;
    stroke-linecap: round;
}

.house .door {
    fill: #d1495b;
}

.house .stair {
    fill: #808080;
}

.house .window {
    fill: #fdea96;
}

.house .window_sill {
    fill: #d1495b;
    stroke-linecap: round;
}

.box {
    fill: #d1495b;
    stroke: #000000;
    stroke-width: 2px;
}

.stripe {
    fill: #ffffff;
    stroke: #000000;
    stroke-width: 2px;
}

.ribbon {
    stroke: #b73a3b;
    stroke-width: 4px;
    fill: none;
}

.arm {
    stroke: #000000;
    stroke-width: 7;
    stroke-linecap: round;
}

#windmill_head_21 {
    animation: rotar_molino 4s infinite linear;
}

@keyframes rotar_molino {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#bell {
    transform-origin: 0 -45px;
}

.tarjeta:hover #bell,
.tarjeta:hover #bell_clapper {
    animation: sonar_campana 0.5s -0.25s infinite alternate ease-in-out;
}

@keyframes sonar_campana {
    from {
        transform: rotate(-20deg);
    }

    to {
        transform: rotate(20deg);
    }
}

.sleigh {
    offset-path: path("M-200 80 L -90 80 Q 60 80 60 -10 A 50 50 0 0 0 -60 -10 Q -60 80 90 80 L 200 80");
    animation: montana_rusa 6000ms infinite linear;
}

@keyframes montana_rusa {
    0% {
        offset-distance: 0%;
    }

    100% {
        offset-distance: 100%;
    }
}

.background_pattern {
    width: 100%;
    height: 100%;
    background-color: #38755b;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 120 120'%3E%3Cpolyline fill='none' stroke='%230c5c4c' stroke-width='42.4' points='-30 0 60 90 150 0' /%3E%3C/svg%3E");
}

#bulb {
    cursor: pointer;
}

#head {
    cursor: grab;
}

.snowflake {
    --duracion: 5s;
    animation: nevar var(--duracion) infinite linear;
    animation-delay: calc(-1 * var(--duracion) * (var(--y) / 200));
}

.snowflake.fast {
    --duracion: 3s;
}

@keyframes nevar {
    from {
        transform: translate(0, -100px);
    }

    to {
        transform: translate(0, 100px);
    }
}